* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    height: 100vh;
    background: #0f172a;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #020617;
    padding: 24px;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

h1 {
    margin-top: 0;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    background: #020617;
    color: #e5e7eb;
    border: 1px solid #334155;
    border-radius: 8px;
    padding: 10px;
    resize: none;
}

button {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    background: linear-gradient(90deg, #2563eb, #3b82f6);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


pre {
    margin-top: 16px;
    padding: 12px;
    background: #020617;
    border-radius: 8px;
    border: 1px solid #334155;
    min-height: 60px;
    white-space: pre-wrap;
}